/* IMAGEN-PRINCIPAL */
.encabezado-grecia {
    background-image: url(/media/grecia.jpg);
    background-repeat: no-repeat;
    background-size:   cover;
    height: 100%;
    width: 100%;
}

.contenido-encabezado-grecia {
    background-color: rgba(0, 0, 0, 0.45);
    height: 100%;
    width:  100%;
    position: relative
}

.contenido-encabezado-grecia li {
    color: aliceblue;
    font-size: 2rem;
}

.contenido-encabezado-grecia p {
    font-size: 4rem;
    font-family: 'Judson', serif;
    margin: 1rem;
    text-transform: uppercase;
}

.cuadro-reservacion{
    background-color: aliceblue;
    border-radius: 2rem;
}

.cuadro-reservacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%; 
    right: 0;
   
    
}


.cuadro-reservacion h3, p{
    color: #000000;
    
}
