/*VARIABLES*/
:root {
    --blanco:         #FFFFFF;
    --negro:          #000000;
    --primario:       #0F132E;
    --resalte:        #E9B615;
    --resalte-cuadro: #E9B615;
    --gris-claro:     #E8E8E8;
    --resalte-claro:     #E8BD73;
    --fuente-princial: 3.8rem;
}

/*GLOBLALES*/
html {
    font-size:        62.6%;
    box-sizing:       border-box;
}

body {
    background-color: black;
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(60,60,60,1) 91%);
}

p{
    color: var(--blanco);
    font-family: 'Faustina', serif;
    text-align: center;
    font-size: 1.5rem;
}

h1 {
    color: var(--blanco);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Faustina', serif;
    font-size: 3rem; 
    font-weight: bold;
}

@media (min-width: 768px){ 
    h1 {
     font-size: 4rem;
    }
 }

h2{
    color: var(--blanco);
    font-family: 'Faustina', serif;
    text-align: center;
    font-size: 3rem;    
}

h3 {
    color: var(--negro);
    font-size: 3rem;
    text-align: center;
    font-family: 'Judson', serif;
}

button{
    font-family: 'Faustina', serif;
    font-size: 1.4rem;
    text-decoration: none;
    border: none;
}

button:hover{
    cursor: pointer;
}

hr {
    margin: 1rem 0 1rem;
}
/*-----------------------------------------------------------------------------------------------------*/
/*              ENCABEZADO          */
/* NAVEGACION */
.nav-bg {
    background-color: rgba(0, 0, 0, 0.4);
}

.nav-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px){ 
   .nav-contenedor{
    flex-direction:  row;
    justify-content: end;
   }

   .nav-contenedor .nav-title {
    margin-right:auto;
    }
}

.nav-contenedor a {
    color:           var(--blanco);
    display:         block;
    text-align:      center;
    text-decoration: none;
    font-size:       1.8rem;
    font-weight:     400;
    padding:         2rem;
    font-family: 'Judson', serif;
}

.nav-contenedor .nav-title {
    font-size: 2.5rem;
    font-family: 'Krona One', sans-serif;
}

/* IMAGEN-PRINCIPAL */
.encabezado {
    background-image: url(/media/cruceroHeader.jpg);
    
    background-repeat: no-repeat;
    background-size:   cover;
    height: 55rem;
    width: 100%;
}

.contenido-encabezado {
    background-color: rgba(0, 0, 0, 0.45);
    height: 100%;
    width:  100%;
    position:relative
}

.contenido-encabezado .mensaje {
    position: absolute;
    font-weight: bold;
    bottom: 1rem;
}

.contenido-encabezado p {
    font-size: 4rem;
    font-family: 'Judson', serif;
    margin: 1rem;
    text-transform: uppercase;
}

.contenido-encabezado .precio {
    font-family: 'Faustina', serif;
    font-size: 5rem;
}

/*-----------------------------------------------------------------------------------------------------*/
/*              INFORMACION PRINCIPAL          */
/* CONTENEDOR 1 */
.contenido-experiencias {
    display: flex;
    flex-direction: column;
    color: var(--blanco);
    height: 30rem;
    align-items: center;
}

.subt {
    text-transform: uppercase;
}
@media (min-width: 768px){ 
    .descripcion {
        font-size: 2rem;
    }

    .contenido-experiencias {
        height: 50rem;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows:    25% 25% 25% 25%;    
    }
    
    .subt{
        font-size: 4rem;
    }

    .cuadro:nth-child(2), .cuadro:nth-child(3) {
        grid-column: 3 / 5 ;
    }

    .cuadro:nth-child(3) {
        grid-row: 2 / 4;
    }

    .cuadro:nth-child(4) {
        grid-column: 4;
        grid-row: 4;
    }

    .cuadro:nth-child(1) {
        grid-column: 1 / 3 ;
        grid-row: 1 / 5;
    }
}

.contenido-experiencias-img {
    background-image: url(/media/partyShip.jpg);
    background-repeat: no-repeat;
    background-size:   cover;
}

.contenido-experiencias {
    background-image: linear-gradient(to left, var(--negro) 0%, rgba(255,255,255,0) 100%);
}

.contenido-experiencias .descripcion {
    margin-left: 2rem;
    font-family: 'Judson', serif;
    text-align: start;
    font-weight: 300;
}

.botont1 {
    height: 4rem;
    width: 100%;
    border-radius: 1rem;
    background-color: var(--resalte-claro);
    color: var(--negro);
    font-size: 2rem;
    
}

.botont1:hover {
    background-color: var(--resalte-cuadro);
    color: var(--blanco);
}
@media (min-width: 768px){ 
   .botont1 {
        width: auto;
        margin-bottom: 2rem;
   }
}

.vermas{
    text-transform: uppercase;
}

/*-----------------------------------------------------------------------------------------------------*/
/*              PROMOCIONES          */
.contenedor-promociones {
    justify-content: space-evenly;
}

@media (min-width: 768px){ 
    .contenedor-promociones {
        display: flex;
    }
}

.promocion {
    margin: 2rem auto 2rem auto;
    border-radius: 1rem;
    height: 35rem;
    width: 30rem;
    background-color: var(--gris-claro);
}

@media (min-width: 768px){ 
    .promocion {
        width:  max(30rem, 25%);
    }
}

.promocion p {
    color:      var(--negro);
    font-size:  2.2rem ;
    margin: .5rem 0px;
}

.promocion-img {
    height: 15rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.img1 {
    background-image: url(/media/costasGrecias.jpeg);
}

.img2 {
    background-image: url(/media/santorini.jpeg);
}

.img3 {
    background-image: url(/media/costaBrava.jpg);
}
.promocion h3{
    margin-top: 0;
    margin-bottom: 0;
}

.informacion {
    display: flex;
    align-items: center;
}

.icono-info {
    height: 4rem;
    width:  auto;
}

.promocion .info {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.promocion-reservar {
    margin-left: auto;
    margin-right: 1rem;
    font-size: 1.2rem;
    align-self: flex-end;
    background-color: rgba(0,0,0,0);
    color: blue;
}

.promocion-reservar:hover {
    color: var(--resalte-cuadro);
}
