body {
	
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
    background: linear-gradient(#1c1c1c, #000000);
    font-size: 2rem;
    color: #faf7f7;

}
h1{
    color: #faf7f7;
}

#main {
	position: relative;
	width: 100%;
	height: 60rem;
    align-items: center;
    justify-content: center;
	left: 3rem;
    background: linear-gradient( #131312, #000000);
    margin: 0 auto;
    text-align: center;
	border-radius: 10px;
	background-color: white;
}


#derecha {
	position: absolute;
	height: 100%;	
	display: flex;
	flex-flow: column nowrap;
	padding-left: 25%;
}

#derecha form {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}

#derecha form input,
#derecha form select {
	
	appearance:none;
	border: none;
	border-bottom: 1.5px solid #ccc;
	
	padding: 5PX;
	margin-top: 2.5px;
	position: relative;
}

#derecha form .campo {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	margin-bottom: 12.5px;
}

#derecha form #nombre-crucero{
    margin-top: 1rem;
}


#derecha form #valores #nombre-cliente{
    grid-area:nombre;
}

#derecha form #valores #apellido-cliente{
    grid-area:apellido;
}

#derecha form #valores #correo-cliente{
    grid-area:correo;
    width: 70%;
    margin: auto;
}

#derecha form #valores {
    margin-top: 1rem;
	display: grid;
    grid-template: 
    'nombre apellido'
    'correo correo';
    column-gap: 3rem;
    row-gap: 1.5rem;
}

#derecha form #valores input {
	width:100%;
}


#derecha form .boton[type="submit"] {
    margin-top: 1rem;
    margin-bottom: 2rem;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 1;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
}

.boton span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.boton:hover span {
    background: none;
}

.boton:active,
.boton:hover {
    outline: 0;
}


#derecha .number {
    margin: auto;
    margin-top: 1rem;
    width: 7rem;
}

#derecha .total {
    margin: auto;
    margin-top:1rem;
    width: 20rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0);
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
}

.formulario__input-error {
	font-size: 12px;
    color: #000;
	margin-bottom: 0;
	display: none;
    
}
.formulario__input-error p{
	
    color: #ffffff;
	
    
}


.formulario__input-error-activo {
	display: block;
    color: #fffefe;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
    color: #000;
	background: #e52121;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}


.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
    color: #fff;
}
.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__grupo-input input {
    padding-right: 90px; /* Ajusta el espacio a la derecha para el ícono */
}

.formulario__grupo-input i {
    position: absolute;
    top: 50%;
    right: 10px; /* Ajusta la posición a la derecha del ícono */
    transform: translateY(-50%);
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}


/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto   .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}
.formulario__grupo-correcto   .formulario__input {
	border: 3px solid #63bb29;
}


.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


@media (min-width: 768px) {
    .boton {
    font-size: 24px;
    min-width: 196px;
    }
}


#derecha .paypal {
    background-image: url('/media/paypal.png');
    height: 8rem;
    width: 8rem;
    align-items: center;
    background-size: 100% 100%; /* Ajusta el tamaño de la imagen al 100% del ancho y alto del botón */
    color: #443b3b; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno para el botón */
    /* Elimina el borde del botón (opcional) */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón (opcional) */
    
   
    border-radius: 5rem;
    margin-left: auto; /* Mueve el botón a la derecha */
  margin-right: auto; /* Mueve el botón a la derecha */
  margin-top: auto; /* Lo centra verticalmente */
  padding: 10px 20px; /* Espaciado interno para el botón */
   /* Color de fondo del botón (personalizable) */
   /* Color del texto del botón (personalizable) */
  
 
}

@media (max-width: 786px){
    #main {
        width: 100%; 
        left: 0; 
      }
    
      #derecha {
        position: static; /* Elimine la posición absoluta */
        width: 100%; /* Haga que el div derecho ocupe todo el ancho */
        padding-left: 0; /* Elimine el padding izquierdo */
      }
    
      #derecha form input{
        width: 90%; /* Haga que los campos de entrada y selección ocupen todo el ancho disponible */
        margin:auto;
    }

}


